.HeaderWrapper{
    position: relative;
    background-color: #FBFCFF;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    z-index: 5;
    overflow: hidden;

    span{
        color: #374957;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}