.BrowsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;

    .textBrows{
        width: 50%;
        
        ul{
            li{
                list-style-type: "◉ ";
                color: #F6BEC2;
                font-family: Roboto;
                font-size: 23px;
                font-style: normal;
                font-weight: 200;
                line-height: 125.188%;
                margin-bottom: 8px;
                margin-top: 25px;
                
    
                span{
                    color: #000;
                    font-family: Roboto;
                    font-size: 1.16rem;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 125.188%;
                    font-weight: bold;
                }

    
            }

         
            .desc{
                color: #000;
                font-family: Roboto;
                font-size: 1.16rem;
                font-style: normal;
                font-weight: 200;
                line-height: 125.188%;
                margin-left: 10px;
            }
        }
    }
}

@media only screen and (max-width: 920px)  {
    .BrowsWrapper{
        flex-direction: column;

        .textBrows{
            width: 100%;
        }
    }
}

