.MyWorksWrapper{
    display: flex;
    flex-direction: column;
    grid-gap: 50px;
    align-items: center;
    width: 100%;
    .title{
        width: 200px;
    }


    .blocks{ 
        width: 80%;

        .swiperContainer{
            // z-index: 0;
        }

        .item{
            display: block;
            // width: 55%;
            // height: 40%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }

    }
}


// @media only screen and (max-width: 530px)  {
//     .MyWorksWrapper{
//         .blocks{
//             .item{
//                 width: 400px;
//             }
//         }
//     }

// }

// @media only screen and (max-width: 460px)  {
//     .MyWorksWrapper{
//         .blocks{
//             .item{
//                 width: 350px;
//             }
//         }
//     }

// }