.MyWorksWrapper{
    display: flex;
    flex-direction: column;
    grid-gap: 50px;
    align-items: center;
    width: 100%;
   
    .title{
        width: 200px;
    }


    .blocks{ 
        height: 450px;
        border: 1px solid #F6BEC2;
        padding: 15px 25px 35px 25px;
        // background-color: black;
        width: 90%;
        overflow: hidden;

        .itemWrapper{
            width: 350px;
            height: 350px;
            overflow: hidden;

            .item{
                width: 350px;
                height: 450px;
                object-fit: cover;         
            }
        }

    }
}


@media only screen and (max-width: 1450px)  {
    .MyWorksWrapper{
        .blocks{ 
            .itemWrapper{
                width: 300px;
                height: 300px;

                .item{
                    width: 300px;
                    height: 400px;
                }
            }
        }
    }
}

@media only screen and (max-width: 520px)  {
    .MyWorksWrapper{
        .blocks{ 
            height: 350px;

            .itemWrapper{
                width: 250px;
                height: 250px;

                .item{
                    width: 250px;
                    height: 350px;
                }
            }
        }
    }
}

@media only screen and (max-width: 460px)  {
    .MyWorksWrapper{
        .blocks{ 
            height: 280px;
            .itemWrapper{
                width: 200px;
                height: 200px;

                .item{
                    width: 200px;
                    height: 300px;
                }
            }
        }
    }
}

@media only screen and (max-width: 410px)  {
    .MyWorksWrapper{
        .blocks{ 
            height: 250px;
            .itemWrapper{
                width: 180px;
                height: 180px;

                .item{
                   width: 180px;
                    height: 280px;
                }
            }
        }
    }
}

@media only screen and (max-width: 380px)  {
    .MyWorksWrapper{
        .blocks{ 
            height: 220px;
            .itemWrapper{
                width: 150px;
                height: 150px;

                .item{
                    width: 150px;
                    height: 250px;
                }
            }
        }
    }
}


